*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    background-color: #ff6900;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    z-index: 100;
}
.set{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whiteText{
    text-decoration: none;
    color: white;
}
.navPart{
    width: calc(75% / 3);
    text-align: center;
}
#logo{
    height: 30px;
}
.articoli{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}
.dimImg{
    width: calc(90% / 3);
    display: flex;
    margin: 100px auto 0px;
    flex-direction: column;
    position: relative;
}
.imgArticoli{
    width: 100%;
}
.noneArticoli{
    position: absolute;
    z-index: -1;
}
.redText{
    color: red;
    font-weight: bold;
}
.oldPrice{
    text-decoration: line-through;
}
.endPage{
    background-color: #1a1a1a;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dimImg:hover .imgArticoli{
    z-index: -2;
}
.disIcon{
    position: absolute;
    top: 80%;
    background-color: red;
    color: white;
}
.green{
    position: absolute;
    top: 80%;
    left: 10%;
    background-color: green;
    color: white;
}
.heart{
    position: absolute;
    left: 90%;
    top: 5%;
}
.heart:hover{
    color: red;
}
a:hover{
    color: blue;
}